{:rename-macros {}, :renames {}, :use-macros {}, :excludes #{}, :name re-frame.utils, :imports nil, :requires {re-frame.loggers re-frame.loggers}, :uses {console re-frame.loggers}, :defs {first-in-vector {:protocol-inline nil, :meta {:file "/Users/dilvan/OneDrive/IdeaProjects/dicom-roi-editor/resources/public/js/re_frame/utils.cljc", :line 6, :column 7, :end-line 6, :end-column 22, :arglists (quote ([v]))}, :name re-frame.utils/first-in-vector, :variadic false, :file "resources/public/js/re_frame/utils.cljc", :end-column 22, :method-params ([v]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 6, :end-line 6, :max-fixed-arity 1, :fn-var true, :arglists (quote ([v]))}}, :require-macros nil, :cljs.analyzer/constants {:seen #{:error}, :order [:error]}, :doc nil}