{:rename-macros {}, :renames {}, :use-macros {postwalk clojure.walk}, :excludes #{}, :name camel-snake-kebab.extras, :imports nil, :requires {clojure.walk clojure.walk}, :uses {postwalk clojure.walk}, :defs {transform-keys {:protocol-inline nil, :meta {:file "/Users/dilvan/OneDrive/IdeaProjects/dicom-roi-editor/resources/public/js/camel_snake_kebab/extras.cljc", :line 4, :column 7, :end-line 4, :end-column 21, :arglists (quote ([t coll]))}, :name camel-snake-kebab.extras/transform-keys, :variadic false, :file "resources/public/js/camel_snake_kebab/extras.cljc", :end-column 21, :method-params ([t coll]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 4, :end-line 4, :max-fixed-arity 2, :fn-var true, :arglists (quote ([t coll]))}}, :require-macros nil, :doc nil}